table, th, td {
    border: 1px solid black;
  }
  table {
    width: 100%;
  }
  
  #tableDiv
  {
      width:100%;

  }
  
  th {
    height: 50px;
    text-align: left;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  